* 
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body 
{
	width: 100%;
	background-image: linear-gradient(to left,#522c74, #7e3d74);
	height: 100vh;
	font-weight: bolder;
	/* overflow-y: hidden; */
}

body::-webkit-scrollbar
{
	display: none;
}

.nav-list 
{
	display: flex;
	padding: 2rem;
	position: relative;
	flex-direction: row;
}

.nav-item a
{
	padding-right: 2rem;
	display: block;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
} 

.icone
{
	/* font-size: 40px; */
	position: absolute;
	top: 15px;
	left: 1500px;
	display: none;
}

.nav-item:first-child 
{
	margin-right: auto;
	margin-left: 2rem;
}

.pozay
{
	display: block;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 25px;
	font-weight: 1000;
}

.pozay::after 
{
	content: "";
	display: block;
	position: absolute;
	margin-top: 4px;
	width: 68%;
	height: 2px;
	background-color: #fff;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
}

.pozay:hover::after 
{
	transform: scale(1);
}

.accueil
{
	position: absolute;
	right: 250px;
	color: #fff;
	/* border: 1px solid blue; */
}

.accueil::after
{
	content: "";
	display: block;
	position: absolute;
	margin-top: 4px;
	width: 67%;
	height: 2px;
	background-color: #fff;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
}

.accueil:hover::after
{
	transform: scale(1);
}

.propos
{
	display: inline;
	position: absolute;
	right: 135px;
	color: #fff;
}

.propos::after 
{
	content: "";
	display: block;
	position: absolute;
	margin-top: 4px;
	width: 70%;
	height: 2px;
	background-color: #fff;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
}

.propos:hover::after
{
	transform: scale(1);
}

.contact 
{
	display: block;
	position: absolute;
	right: 32px;
	color: #fff;
}

.contact::after 
{
	content: "";
	display: block;
	position: absolute;
	margin-top: 4px;
	width: 69%;
	height: 2px;
	background-color: #fff;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
}

.contact:hover::after 
{
	transform: scale(1);
}

/*  INTERFACE  */

.tout 
{
	display: grid;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	grid-template-columns: 1600px 300px;
	grid-template-rows: 80px 300px;
	grid-template-areas: "Titre Contact"
						 "Titre Contact"
						 "Titre Contact"
}

#box-titre, #Contact
{
	padding-top: 20px;
	margin-left: 2rem;
}

#box-titre 
{
	grid-area: Titre;
	margin-top: 200px;
	margin-right: 350px;
	/* animation: debut1 1.3s ease-out; */
}

.titre
{
	padding-bottom: 80px;
	font-family: 'Lobster', cursive;
	font-weight: 300;
	font-size: 60px;
	padding-right: 110px;
}


#Contact 
{
	grid-area: Contact;
	background-color: rgb(20, 16, 83);
	border-radius: 15px;
	margin-right: 5px;
	margin-top: 80px;
	padding-bottom: 35px;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 55px, rgba(255, 255, 255, 0.12) 0px -12px 55px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 55px, rgba(255, 255, 255, 0.09) 0px -3px 55px;
}

/* Contact */

.navv
{
	display: flex; 
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.titre-contact
{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-right: 4px;
}


.navitem 
{
	margin-bottom: 5px;
	transition: margin 0.25s; 
}

.navitem:hover
{
	margin: 10px 0 10px 0;
} 

.navitem a
{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.navitem a:hover
{
	animation: monAnimation 1.2s alternate infinite;
}   

.youtube, .twitter, .insta, .github 
{
	display: table;
}  

/* #region */ 
.youtube:hover > .lettre:nth-child(1)
{
	animation: youtube 1.2s linear infinite;
} 

.youtube:hover > .lettre:nth-child(2)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.1s;
} 
.youtube:hover > .lettre:nth-child(3)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.2s;
} 
.youtube:hover > .lettre:nth-child(5)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.3s;
} 
.youtube:hover > .lettre:nth-child(6)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.5s;
} 
.youtube:hover > .lettre:nth-child(7)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.6s;
} 
.youtube:hover > .lettre:nth-child(8)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.7s;
} 
.youtube:hover > .lettre:nth-child(9)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.8s;
} 
.youtube:hover > .lettre:nth-child(10)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 0.9s;
} 
.youtube:hover > .lettre:nth-child(11)
{
	animation: youtube 1.2s linear infinite;
	animation-delay: 1s;
} 


.twitter:hover > .lettre:nth-child(1)
{
	animation: twitter 1.2s linear infinite;
} 

.twitter:hover > .lettre:nth-child(2)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.1s;
} 
.twitter:hover > .lettre:nth-child(3)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.2s;
} 
.twitter:hover > .lettre:nth-child(5)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.3s;
} 
.twitter:hover > .lettre:nth-child(6)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.5s;
} 
.twitter:hover > .lettre:nth-child(7)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.6s;
} 
.twitter:hover > .lettre:nth-child(8)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.7s;
} 
.twitter:hover > .lettre:nth-child(9)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.8s;
} 
.twitter:hover > .lettre:nth-child(10)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 0.9s;
} 
.twitter:hover > .lettre:nth-child(11)
{
	animation: twitter 1.2s linear infinite;
	animation-delay: 1s;
} 


.insta:hover > .lettre:nth-child(1)
{
	animation: insta 1.2s linear infinite;
} 

.insta:hover > .lettre:nth-child(2)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.1s;
} 
.insta:hover > .lettre:nth-child(3)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.2s;
} 
.insta:hover > .lettre:nth-child(5)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.3s;
} 
.insta:hover > .lettre:nth-child(6)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.5s;
} 
.insta:hover > .lettre:nth-child(7)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.6s;
} 
.insta:hover > .lettre:nth-child(8)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.7s;
} 
.insta:hover > .lettre:nth-child(9)
{
	animation: insta 1.2s linear infinite;
	animation-delay: 0.8s;
} 


.github:hover > .lettre:nth-child(1)
{
	animation: github 1.2s linear infinite;
} 

.github:hover > .lettre:nth-child(2)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.1s;
} 
.github:hover > .lettre:nth-child(3)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.2s;
} 
.github:hover > .lettre:nth-child(5)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.3s;
} 
.github:hover > .lettre:nth-child(6)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.5s;
} 
.github:hover > .lettre:nth-child(7)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.6s;
} 
.github:hover > .lettre:nth-child(8)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.7s;
} 
.github:hover > .lettre:nth-child(9)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.8s;
} 
.github:hover > .lettre:nth-child(10)
{
	animation: github 1.2s linear infinite;
	animation-delay: 0.9s;
} 
/* #endregion */

/*@keyframes monAnimation 
{
	0%
	{
		color: #fff;
		text-shadow: 0 0 7px #000;
	}

	100%
	{
		color: #fff900;
		text-shadow: 0 0 7px #fff900;
	}
}  */

/* #region */
@keyframes youtube
{
	0% 
	{
		color: #ff0000;
		text-shadow: 0 0 7px #ff0000;
	}
	90%
	{
		color: #fff;
		text-shadow: none;
	}
	100% 
	{
		color: #ff0000;
		text-shadow: 0 0 7px #ff0000;
	}
}

@keyframes twitter
{
	0% 
	{
		color: #00b7ff;
		text-shadow: 0 0 7px #00b7ff;
	}
	90%
	{
		color: #fff;
		text-shadow: none;
	}
	100% 
	{
		color: #00b7ff;
		text-shadow: 0 0 7px #00b7ff;
	}
}

@keyframes insta
{
	0% 
	{
		color: #8c00ff;
		text-shadow: 0 0 7px #8c00ff;
	}
	90%
	{
		color: #fff;
		text-shadow: none;
	}
	100% 
	{
		color: #8c00ff;
		text-shadow: 0 0 7px #8c00ff;
	}
}

@keyframes github
{
	0% 
	{
		color: #000;
		text-shadow: 0 0 7px #000;
	}
	90%
	{
		color: #fff;
		text-shadow: none;
	}
	100% 
	{
		color: #000;
		text-shadow: 0 0 7px #000;
	}
}
/* #endregion */

/* #region */
@keyframes apparition
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

@keyframes debut1
{
	from
	{
		transform: translateY(-100px);
	}
	to
	{
		transform: translateY(0px);
	}
}

@keyframes debut2
{
	from
	{
		transform: translateX(-100px);
	}
	to
	{
		transform: translateX(0px);
	}
}

@keyframes debut3
{
	from
	{
		transform: translateY(100px);
	}
	to
	{
		transform: translateY(0px);
	}
}

@keyframes tourne
{
	0%
	{
		transform: rotate(0deg);
		color: rgba(255, 0, 0, 0.8);
	}
	25%
	{
		transform: rotate(90deg);
		color: rgba(255, 68, 68, 0.9);
	}
	50%
	{
		transform: rotate(180deg);
		color: rgba(255, 138, 138, 1);
	}
	75%
	{
		transform: rotate(270deg);
		color: rgba(255, 182, 182, 1);
	}
	100%
	{
		transform: rotate(390deg);
		color: rgba(255, 255, 255, 1);
	}
}
/* #endregion */


/***************************/

.manger
{
	width: 1930px;
	height: 700px;
	margin-top: 355px;
	background-color: #000;
	padding-top: 20px;
}

.titre-manger
{
	color: #fff;
	font-family: 'Lobster', cursive;
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 20px;
}

.container-manger
{
	margin-top: 200px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.titre-pizza
{
	font-family: 'Lobster', cursive;
	color: #fff;
	position: absolute;
	left: 230px;
	top: 990px;
	font-size: 50px;
	letter-spacing: 3px;

}

.titre-pate
{
	font-family: 'Lobster', cursive;
	color: #fff;
	position: absolute;
	left: 865px;
	top: 990px;
	font-size: 50px;
	letter-spacing: 3px;
}

.titre-poulet
{
	font-family: 'Lobster', cursive;
	color: #fff;
	position: absolute;
	left: 1505px;
	top: 990px;
	font-size: 50px;
	letter-spacing: 3px;
}

.pizza 
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(195, 0, 255, 0.25) 0px 0px 55px, rgba(195, 0, 255, 0.12) 0px -12px 55px, rgba(195, 0, 255, 0.12) 0px 4px 6px, rgba(195, 0, 255, 0.17) 0px 12px 55px, rgba(195, 0, 255, 0.09) 0px -3px 55px;
}

.pate 
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(195, 0, 255, 0.25) 0px 0px 55px, rgba(195, 0, 255, 0.12) 0px -12px 55px, rgba(195, 0, 255, 0.12) 0px 4px 6px, rgba(195, 0, 255, 0.17) 0px 12px 55px, rgba(195, 0, 255, 0.09) 0px -3px 55px;
}

.poulet
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(195, 0, 255, 0.25) 0px 0px 55px, rgba(195, 0, 255, 0.12) 0px -12px 55px, rgba(195, 0, 255, 0.12) 0px 4px 6px, rgba(195, 0, 255, 0.17) 0px 12px 55px, rgba(195, 0, 255, 0.09) 0px -3px 55px;
}


.fleche
{
	width: 60px;
	height: 45px;
	cursor: pointer;
	position: absolute;
	left: 48%;
	top: 76%;
}

/***********************/

.fleche_2
{
	width: 60px;
	height: 45px;
	cursor: pointer;
	position: absolute;
	left: 48%;
	top: 1420px;
}

.ville
{
	width: 1930px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.945);
	padding-top: 20px;
}

.titre-ville
{
	font-family: 'Lobster', cursive;
	color: #000;
	font-weight: 600;
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 20px;
}

.container-ville
{
	margin-top: 200px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.titre-tokyo
{
	font-family: 'Lobster', cursive;
	position: absolute;
	font-size: 50px;
	letter-spacing: 3px;
	left: 260px;
	top: 1715px;
}

.titre-madrid
{
	font-family: 'Lobster', cursive;
	position: absolute;
	font-size: 50px;
	letter-spacing: 3px;
	left: 880px;
	top: 1715px;
}

.titre-paris
{
	font-family: 'Lobster', cursive;
	position: absolute;
	font-size: 50px;
	letter-spacing: 3px;
	left: 1545px;
	top: 1715px;
}


.tokyo
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(255, 0, 0, 0.45) 0px 0px 55px, rgba(255, 0, 0, 0.32) 0px -12px 55px, rgba(255, 0, 0, 0.32) 0px 4px 6px, rgba(255, 0, 0, 0.37) 0px 10px 55px, rgba(255, 0, 0, 0.19) 0px -3px 55px,  rgba(255, 0, 0, 0.4) 0px 30px 55px;
}

.madrid
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(255, 187, 0, 0.45) 0px 0px 55px, rgba(255, 187, 0, 0.32) 0px -12px 55px, rgba(255, 187, 0, 0.32) 0px 4px 6px, rgba(255, 187, 0, 0.37) 0px 10px 55px, rgba(255, 187, 0, 0.29) 0px -3px 55px, rgba(255, 187, 0, 0.4) 0px 30px 55px;
}

.paris
{
	width: 420px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(0, 68, 255, 0.45) 0px 0px 55px, rgba(0, 68, 255, 0.32) 0px -12px 55px, rgba(0, 68, 255, 0.32) 0px 4px 6px, rgba(0, 68, 255, 0.37) 0px 10px 55px, rgba(0, 68, 255, 0.29) 0px -3px 55px, rgba(0, 68, 255, 0.4) 0px 30px 55px;
}

.ee
{
	display: none;
}

@media screen and (max-width: 1800px)
{
	#Contact
	{
		position: absolute;
		left: 950px;
		top: 160px;
		width: 230px;
	}
	.manger
	{
		width: 1220px;
	}
	.titre-pizza
	{
		left: 130px;
	}
	.titre-pate
	{
		left: 515px;
	}
	.titre-poulet
	{
		left: 930px;
	}

	.ville
	{
		width: 1220px;
	}
	.titre-tokyo
	{
		left: 130px;
	}
	.titre-madrid
	{
		left: 515px;
	}
	.titre-paris
	{
		left: 960px;
	}
}

@media screen and (max-width: 1220px)
{
	#box-titre
	{
		width: 700px;
	}
	#Contact
	{
		left: 300px;
		top: 420px;
	}
	.manger
	{
		width: 800px;
		height: 1000px;
	}
	.container-manger
	{
		width: 800px;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-left: 80px;
		margin-top: 60px;
	}
	.titre-manger
	{
		margin-top: 10px;
	}
	.titre-pizza
	{
		left: 40px;
		top: 1100px;
	}
	.titre-pate
	{
		left: 40px;
		top: 1350px;
	}
	.titre-poulet
	{
		left: 40px;
		top: 1600px;
	}
	.fleche 
	{
		top: 790px;
	}
	.ville
	{
		width: 800px;
		height: 1000px;
	}
	.container-ville
	{
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-left: 30px;
		margin-top: 60px;
	}
	.titre-tokyo
	{
		left: 45px;
		top: 2135px;
	}
	.titre-madrid
	{
		left: 40px;
		top: 2390px;
	}
	.titre-paris
	{
		left: 45px;
		top: 2635px;
		margin-left: 10px;
	}
	.fleche_2
	{
		top: 1810px
	}
}

@media screen and (max-width: 420px)
{
	.tout 
	{
		display: grid;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		grid-template-columns: 100px 100px;
		grid-template-rows: 80px 300px;
		grid-template-areas: "Titre Contact"
							"Titre Contact"
							"Titre Contact"
	}
	.ee
	{
		display: block;
	}
	.responsive_2 #box-titre
	{
		display: none;
	}
	.pozay, .accueil, .propos, .contact
	{
		right: 0;
		position: relative;
	}
	.responsive .accueil, .responsive .propos, .responsive .contact
	{
		font-family: 'Lobster', cursive;
		letter-spacing: 4px;
		font-size: 40px;
		margin-left: 20px;
	}
	.nav-list
	{
		width: 100%;
		height: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		right: 0;
	}
	.container-list
	{
		margin-top: 420px;
	}
	.responsive .nav-item
	{
		margin-top: 50px;
		margin-left: 18px;
	}
	.zz, .bb, .cc, .dd
	{
		display: none;
		color: #fff;
	}
	.responsive .pozay 
	{
		display: none;
	}
	.responsive ul li
	{
		display: block;
	}
	.icone
	{
		display: block;
		position: absolute;
		left: 20px;
	}
	.nav-list > li > a 
	{
		color: rgb(255, 255, 255);
		margin: 0;
		font-size: 1.3em; 
		padding: 0;
	}
	.nav-item
	{
		margin: 0;
		padding: 0;
	}
	body 
	{
		width: 390px;
	}
	#box-titre
	{
		width: 330px;
		margin-top: 10px;
		margin-left: 30px;
	}
	.titre
	{
		width: 220px;
		font-size: 50px;
	}
	#Contact
	{
		left: 30px;
	}
	.fleche
	{
		top: 745px;
		left: 150px;
	}
	.manger
	{
		width: 390px;
		height: 1350px;
	}
	.container-manger
	{
		width: 390px;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 0;
	}
	.titre-manger
	{
		font-size: 40px;
	}
	.titre-pizza
	{
		top: 960px;
		left: 110px;
		font-size: 40px;
	}
	.titre-pate
	{
		top: 1315px;
		left: 110px;
		font-size: 40px;
	}
	.titre-poulet
	{
		top: 1665px;
		left: 110px;
		font-size: 40px;
	}
	.pizza
	{
		width: 390px;
		margin-top: 100px;
	}
	.pate 
	{
		width: 390px;
		margin-top: 100px;
	}
	.poulet
	{
		width: 390px;
		margin-top: 100px;
	}
	.fleche_2
	{
		top: 2110px;
		left: 150px;
	}
	.ville 
	{
		width: 390px;
		height: 1350px;
	}
	.container-ville
	{
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 0;
	}
	.titre-ville
	{
		font-size: 40px;
	}
	.titre-tokyo
	{
		top: 2350px;
		left: 140px;
		font-size: 40px;
	}
	.titre-madrid
	{
		top: 2695px;
		left: 130px;
		font-size: 40px;
	}
	.titre-paris
	{
		top: 3050px;
		left: 130px;
		font-size: 40px;
	}
	.tokyo
	{
		width: 390px;
		margin-top: 100px;
	}
	.madrid
	{
		width: 390px;
		margin-top: 100px;
	}
	.paris
	{
		width: 390px;
		margin-top: 100px;
	}
}

/* 5 heures pour le responsive */














/* .poz
{
	position: absolute;
	left: 45%;
	top: 65%;
	border: 1px solid red;
}

.poz::after
{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	border: 1px solid red;
	background-color: #000;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
}

.poz:hover::after 
{
	transform: scale(1);
} */

/* .blocc
{
	border: 2px dashed white; 
	width: 100%;
	height: 25rem;
	background-image: radial-gradient(#522c74, #7e3d74)
} */











/* .lettre:nth-child(1) 
{
	animation-delay: 0.1s;
}
.lettre:nth-child(2) 
{
	animation-delay: 0.2s;
}
.lettre:nth-child(3) 
{
	animation-delay: 0.3s;
}
.lettre:nth-child(4) 
{
	animation-delay: 0.4s;
}
.lettre:nth-child(5) 
{
	animation-delay: 0.5s;
}
.lettre:nth-child(6) 
{
	animation-delay: 0.6s;
}
.lettre:nth-child(7) 
{
	animation-delay: 0.7s;
}
.lettre:nth-child(8) 
{
	animation-delay: 0.8s;
}
.lettre:nth-child(9) 
{
	animation-delay: 0.9s;
}
.lettre:nth-child(10) 
{
	animation-delay: 1s;
} */










































